.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 165px;
}

.header__link {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ff3d00;
  border-radius: 52px;
  border: 1px solid transparent;
  outline: none;
  padding: 14px 20px;
}

.header__link:hover {
  background-color: #ff521b;
}

.header__link:focus-visible {
  background-color: #ff521b;
  border-color: #fff;
}
