.hero {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.76) 60%, rgba(0, 0, 0, 1) 100%),
    image-set(
      url('../img/bg@4x.avif') type('image/avif') 4x,
      url('../img/bg@2x.avif') type('image/avif') 2x,
      url('../img/bg@1x.avif') type('image/avif') 1x,
      url('../img/bg@4x.webp') type('image/webp') 4x,
      url('../img/bg@2x.webp') type('image/webp') 2x,
      url('../img/bg@1x.webp') type('image/webp') 1x,
      url('../img/bg@4x.jpg') 4x,
      url('../img/bg@2x.jpg') 2x,
      url('../img/bg@1x.jpg') 1x
    );

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url('../img/bg@1x.jpg'); */
  /* background-image: -webkit-image-set(
    url('../img/bg@4x.avif') type('image/avif') 4x,
    url('../img/bg@2x.avif') type('image/avif') 2x,
    url('../img/bg@1x.avif') type('image/avif') 1x,
    url('../img/bg@4x.webp') type('image/webp') 4x,
    url('../img/bg@2x.webp') type('image/webp') 2x,
    url('../img/bg@1x.webp') type('image/webp') 1x,
    url('../img/bg@4x.jpg') 4x,
    url('../img/bg@2x.jpg') 2x,
    url('../img/bg@1x.jpg') 1x
  ); */
  /* background-image: image-set(
    url('../img/bg@4x.avif') type('image/avif') 4x,
    url('../img/bg@2x.avif') type('image/avif') 2x,
    url('../img/bg@1x.avif') type('image/avif') 1x,
    url('../img/bg@4x.webp') type('image/webp') 4x,
    url('../img/bg@2x.webp') type('image/webp') 2x,
    url('../img/bg@1x.webp') type('image/webp') 1x,
    url('../img/bg@4x.jpg') 4x,
    url('../img/bg@2x.jpg') 2x,
    url('../img/bg@1x.jpg') 1x
  ); */
  padding-top: 33vw;
  padding-bottom: 60px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.hero__banner {
  max-width: 795px;
  margin-bottom: 2px;
}

.hero__date {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  color: #ff3d00;
  margin-bottom: 16px;
}

.hero__arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  outline: none;
}

.hero__arrow:hover {
  color: #ff3d00;
  background-color: rgba(255, 255, 255, 0.1);
}

.hero__arrow:focus {
  color: #ff3d00;
}
